.app {
    text-align: center;
  }
  
  .logo {
    height: 3rem;
    display: flex;
  }
  
  .header {
    background: var(--gray-700);
    min-height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }